/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Montserrat", sans-serif;
}

.ho-section {
  margin-top: 150px;
}

.ho-grille1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ho-titre1 {
  color: #EA5455;
  margin-left: 150px;
  margin-right: 282px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
}

.ho-box {
  display: flex;
  margin: 10px;
  padding-bottom: 0%;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FCFCFC;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.ho-img {
  width: 120px;
  border: 1px red solid;
  padding: 15px;
}

.ho-divimg {
  padding: 15px;
}

p {
  font-weight: 10px;
  font-size: 10px;
}

.ho-p1 {
  font-weight: 700;
  padding-bottom: 10px;
}

.ho-p3 {
  color: rgb(66, 204, 88);
  text-align: right;
}

.ho-arrow-left {
  width: 0;
  height: 0;
  margin: 60px;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-right: 20px solid #EA5455;
  border-radius: 6px;
}

.ho-arrow-right {
  width: 0;
  height: 0;
  margin: 60px;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 20px solid #EA5455;
  border-radius: 6px;
}

.ho-lien1 {
  font-weight: 300;
  font-size: 10px;
  text-decoration: none;
  color: black;
}

.ho-titre2 {
  color: #EA5455;
  margin-left: 150px;
  margin-right: 282px;
  margin-bottom: 15px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
}

.ho-offre {
  height: 120px;
  width: 120px;
  margin: 10px;
  background: #2D4059;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.ho-box2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ho-icon {
  color: #FCFCFC;
}

.ho-offre a {
  font-size: 10px;
  text-decoration: none;
  color: #FCFCFC;
}

.ho-grille3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ho-box3 {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding-bottom: 0%;
}

.ho-img3 {
  width: 220px;
  padding: 15px;
  display: flex;
}

.ho-titre3 {
  color: #EA5455;
  margin-left: 150px;
  margin-right: 282px;
  margin-bottom: 15px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
}

.ho-divimg1 {
  padding: 15px;
}

.ho-box3 a {
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: #EA5455;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .ho-section {
    margin-left: 25px;
    margin-right: 25px;
  }

  .ho-divimg {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
  }

  .ho-img {
    width: 100%;
  }

  .ho-box, .ho-delate {
    display: none;
  }

  .ho-box {
    background-image: url(../images/produits_prixba/bricolage_jardinage_secateur.png);
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
