#fo-top {
    display: flex;
    background-color: #2D4059;
    color: #fff ;
    height: 135px;
    gap: 35px;
}

.steps{
    display: flex;
    gap: 15px;
}

.fo-top-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

h4{
    font-weight: bold;
}

.fo-font{
    width: 36px;
    // color: red;
}

/***2ND PART***/  /***2ND PART***/  /***2ND PART***/ /***2ND PART***/

#fo-mid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: #e5e5e5;
}

.items{
    line-height: 25px;
}





